@page
@model IndexModel

<table class="table table-sm table-striped table-hover border-bottom">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Status</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td><a asp-page="./Details" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td><span class="badge bg-@(item.Status ?"success":"danger")"><i class="fa-solid fa-@(item.Status?"check":"times")"></i> @(item.Status ? "Active" : "Deactivated")</span></td>
                <td>@item.CreationDate</td>
            </tr>
        }
    </tbody>
</table>
